POSTGRES_USER=superuser
POSTGRES_PASSWORD=
POSTGRES_DB=moneymate
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SSL=disable
ENVIRONMENT=dev

NOTIFICATION_DB_USER=notification_user
NOTIFICATION_DB_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
INTERNAL_SERVICE_SECRET=

KAFKA_BROKER=
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_CA_CERT_PATH=../../shared/certs/aiven-ca.pem

FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_PATH=
