
# ── Infrastructure ──────────────────────────────
POSTGRES_USER=superuser
POSTGRES_PASSWORD=
POSTGRES_DB=moneymate
POSTGRES_HOST=postgres

AUTH_DB_USER=
AUTH_DB_PASSWORD=
MERCHANT_DB_PASSWORD=
MERCHANT_DB_USER=


REDIS_PASSWORD=
ENVIRONMENT=dev

# ── JWT ────────────────────────────────────────────────
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# ── SMTP  ──────────────────────────────────────────────────────
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=moneymate2026@gmail.com
SMTP_PASSWORD=

# ── SendGrid  ──────────────────────────────────────────────────────
SENDGRID_API_KEY=
EMAIL_FROM_ADDRESS=moneymate2026@gmail.com
EMAIL_FROM_NAME=MoneyMate


ADMIN_EMAIL=admin@moneymate.dev
ADMIN_PASSWORD=